<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Register</h1>
      </div>
    </div>
<div class="container">
    <h5>Verification email sent</h5>
    <p>If you cannot find the email, please check in your spam folder.</p>
</div>



<%- include('../partials/footer'); -%>