<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
    <h5>Verification email sent</h5>
    <p>The verification link is valid for 12 hours.</p>
    <p>If you cannot find the email, please check in your spam folder.</p>
</div>



<%- include('../partials/footer'); -%>