<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>


<div class="container">
    <form id="emailTest" action="/emailtest" method="post">
        <div class="form-group form-inline">
            <label for="email" >Email address:</label>
            <input type="email" class="form-control ml-2" id="email" name="email" value="">
        </div>
        <button class="btn btn-primary" type="submit">Email</button>
    </form>
</div>

<%- include('../partials/footer'); -%>