<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Reset password</h1>
      </div>
    </div>
<div class="container">
    <h5 class="mb-4">Fill in the form below to request a password reset email.</h5>
    <form class="needs-validation" action="/forgot-password" method="POST" id="sendResetEmailForm">
        <div class="form-group">
                <input type="text" class="form-control" name="email" 
                    placeholder="Email address" id="email" required>
        </div>
        <div class="row justify-content-between">
            <div class="col-xl-3">
            <div class="form-group">
                <div id="recaptcha" class="g-recaptcha" data-sitekey="6Ld-B7gZAAAAAJet4uF8KxO8kkHIzGey29bfU7qE"></div>
            </div>
        </div>
        <div class="col-xl-3">
            <button class="btn btn-primary btn-block" type="submit">Send password reset email</button>
        </div>
        </div>
    </form>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<%- include('../partials/footer'); -%>