<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container" id="main-content">
    <form class="needs-validation" action="/login" method="POST" id="loginForm">
        <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email address" id="email" required>
        </div>
        <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-callback="onloadCallback" data-sitekey="6Ld-B7gZAAAAAJet4uF8KxO8kkHIzGey29bfU7qE"></div>
        </div>
        <div class="form-group">
            <span>
                <button class="btn btn-primary" type="submit" id="loginbtn" disabled>Login</button>
            </span>
            <span class="float-right">
                    <a href="/forgot-password">Forgot my password</a>
            </span>
        
        </div>
    </form>
</div>

<script src="javascript/login.js" defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<%- include('../partials/footer'); -%>