<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Register</h1>
      </div>
    </div>
<div class="container">
    <form action="/register" method="POST">
        <div class="form-group">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email address" id="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <small id="passwordHelp" class="form-text text-muted">Minimum 8 (maximum 64) characters, must contain at least one uppercase, one lowercase letter and one number.</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="playername" placeholder="Player name" id="playername">
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
</form>
</div>



<%- include('../partials/footer'); -%>