<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Register</h1>
      </div>
    </div>
<div class="container">
    <form class="needs-validation" action="/password-reset" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
        <div class="form-group">
            <div class="form-row mb-4  position-relative">
                <label for="email" class="col-form-label col-lg-2">Email address:</label>
                <input class="form-control col-lg-10" 
                  type="email" id="email" name="email" 
                  placeholder="Confirm your email address" required />
            </div>
            <div class="form-row mb-4  position-relative">
                <label for="newPassword" class="col-form-label col-lg-2">New password:</label>
                <input class="form-control col-lg-10" 
                  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,64}$" 
                  type="password" id="newPassword" name="newPassword" 
                  placeholder="Enter new password..." required />
            </div>
            <div class="form-row mb-4  position-relative">
                <label for="confirmNewPassword" class="col-form-label col-lg-2">New password:</label>
                <input class="form-control col-lg-10" 
                  pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,64}$" 
                  type="password" id="confirmNewPassword" name="confirmNewPassword" 
                  placeholder="Confirm new password..." required />
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
</form>
</div>



<%- include('../partials/footer'); -%>