<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container">
    <h5>Thank you for verifying your email address.</h5>
    <p>You can now log in using your email address and password.</p>
</div>



<%- include('../partials/footer'); -%>