<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  <meta name="description" content="The League Wizard Web App">
  <meta name="author" content="Gabor Meszaros">

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>