<%- include('partials/header'); -%>
    
    <h1>League Wizard</h1>
    <% leagues.forEach((league) => { %>
    <p><a href="/leagues/<%=league._id%>">Show league: <%=league.name%></a></p>
    <% }); %>
    <p><a href="/leagues/new">Add new league</a></p>
<%- include('partials/footer'); -%>