<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Login</h1>
      </div>
    </div>
<div class="container">
    <form action="/login" method="POST">
        <!--<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">-->
        <!--<input type="hidden" name="action" value="validate_captcha">-->
        <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" id="username">
        </div>
        <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary" type="submit" id="loginbtn">Login</button>
    </form>
</div>

<%- include('partials/footer'); -%>