<%- include('partials/header'); -%>

<div class="">
    <h4>Sign up form</h1>
    <form action="/register" method="POST">
        <div class="form-group">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
</form>
</div>



<%- include('partials/footer'); -%>