<%- include('partials/header'); -%>
    
    <h1>Team details</h1>
    
    <h2>Current position</h2>
    <p>1</p>
    
    <h2>Matches played</h2>
    
    <table>
        <thead>
            <tr>
                <th>H/A</th>
                <th>Against</th>
                <th>Team</th>
                <th>Goals for</th>
                <th>Goals against</th>
                <th>Result</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>H</td>
                <td>HX</td>
                <td>Borussia Dortmund</td>
                <td>4</td>
                <td>1</td>
                <td>W</td>
                <td>2020.07.17.</td>
            </tr>
        </tbody>
    </table>
    
    <h2>Remaining matches</h2>
    <table>
        <thead>
            <tr>
                <th>Against</th>
                <th>Home</th>
                <th>Away</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HX</td>
                <td>1</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
    
    <a href="/league">Back to league</a>
    
<%- include('partials/footer'); -%>