body {
    background: #d6e5d7;
    color: #113321;
}

.display-4 {
    font-size: 3rem;
    font-size: 6vw;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
  .display-4 {
     font-size: 46px;
  }
}

td {
    text-align: center;
}

.league-card {
    width: 18rem;
}

.floaty-card-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.floaty-row-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.floaty-row-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.league-floaty-row-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.league-floaty-row-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.league-floaty-row-left > .btn, .league-floaty-row-right > .btn {
    width: 125px;
    margin-left: 0;
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 576px) {
  .league-floaty-row-left {
     flex-direction: row;
  }
  
  .league-floaty-row-right {
     flex-direction: row;
  }
  
  .league-floaty-row-left > .btn, .league-floaty-row-right > .btn {
    width: 125px;
    margin-left: 0.25rem;
    margin-bottom: 0;
  }
}

.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
}

.delete-league-form {
    display: inline;
}



.nav-container {
    background: #9dbf8e;
}

.navbar {
    background: #9dbf8e;
    padding-left: 0;
    padding-right: 0;
}

.navbar-dark .nav-item .nav-link,
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .navbar-text,
.navbar-dark .nav-item:focus .nav-link {
    color: #113321;
}

.navbar-dark .nav-item:hover .nav-link {
    color: #d6e5d7;
}

.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.jumbotron::after {
    content: "";
    background: url('/images/jumbotron-background.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -1;
}


.table {
    background: white;
}

.nowrap {
    white-space: nowrap;
}

.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}

/* Favorites handling */
.fav-star {
    color: #ffca28;
}

.fav-star.is-favorite {
    
}


#footer {
    background: #9dbf8e;
}

#danger-alert, #success-alert, #info-alert {
    display: none;
}