body {
    background: #d6e5d7;
    color: #113321;
}



td {
    text-align: center;
}

.league-card {
    width: 18rem;
}

.floaty-card-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.floaty-row-center {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.floaty-row-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.delete-league-form {
    display: inline;
}

.display-4 {
    font-size: 3rem;
    font-weight: 500;
}

.nav-container {
    background: #9dbf8e;
}

.navbar {
    background: #9dbf8e;
    padding-left: 0;
    padding-right: 0;
}


.dropdown-toggle::after {
    transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

.jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.jumbotron::after {
    content: "";
    background: url('/images/jumbotron-background.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -1;
}


.table {
    background: white;
}


#footer {
    background: #9dbf8e;
}

