<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>
    <div class="jumbotron jumbotron-fluid" id="index-jumbotron">
      <div class="container">
        <h1 class="display-4">League Wizard - Register</h1>
      </div>
    </div>
    <div class="container">
        <h1>Profile</h1>
        <p>Username: <%= currentUser.playerName %></p>
    </div>


<%- include('../partials/footer'); -%>